{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-info text-white text-center">
            <h2 class="mb-0 " >Login</h2>
        </div>
        <div class="card-body">
            <div>
                {% if messages %}
                    <ul class="messages bg-info">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <form method="POST" action="{% url 'login_url' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">Username</label>
                    <input type="text" class="form-control" id="uname" name="uname" required>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Enter Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            Not a user? <a href="{% url 'register_url' %}">Register here</a>
        </div>
    </div>
</div>

{% endblock %}
