{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
    {% if messages %}
    <div class="alert-container mb-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}   
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card shadow">
        <div class="card-header bg-secondary text-white text-center" id="heading">
            <h2 class="mb-0">Select Region and Crop</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'generate_data_view' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="state-select" class="form-label">State</label>
                        <select class="form-select"
                                name="state"
                                id="state-select"
                                hx-get="{% url 'district_url' %}"
                                hx-trigger="change"
                                hx-target="#district">
                            <option selected>Open select menu</option>
                            {% for i in states %}
                            <option value="{{ i.statecode }}">{{ i.englishname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-3" id="district">
                        {% include 'partials/district.html' %}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="crop-select" class="form-label">Crop</label>
                        <select class="form-select"
                                name="crop"
                                id="crop-select">
                            <option selected>All</option>
                            {% for i in crops %}
                            <option value="{{ i.id }}">{{ i.cropname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-success" value="Generate Data">
                </div>
            </form>
        </div>
    </div>
    

<div class="card-shadow bg-light mt-5 scrollable-card rounded">
    <div class="card-header bg-secondary text-white text-center">
        <h3 class="mb-0">Running processes</h3>
    </div>
    <table >
        <thead>
            <tr>
                <th>State</th>
                <th>District</th>
                <th>Crop</th>
                <th>Generation</th>
                <th>Extraction</th>
                <th>Aggregation</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in process_status %}
            <tr>
                <td>{{ i.state }}</td>
                <td>{{ i.district }}</td>
                <td>{{ i.crop }}</td>
                <td class="{% if i.is_generation %}bg-success{% else %}bg-danger{% endif %}">
                             {% if i.is_generation %}Completed{% else %}Running{% endif %}
                </td>
                <td class=" {% if i.is_extraction %}bg-success{% else %}bg-danger{% endif %}">
                             {% if i.is_extraction %}Completed{% else %}Running{% endif %}
                </td>
                <td class="{% if i.is_aggregation %}bg-success{% else %}bg-danger{% endif %}" >
                             {% if i.is_aggregation %}Completed{% else %}Running {% endif %}

                </td>
                <td class=" {% if i.is_failed %}bg-danger{% else %}bg-warning{% endif %}">        
                             {% if i.is_failed %}Failed{% else %}Pending{% endif %}
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<style>
    .scrollable-card table {
        width: 100%;
        border-collapse: collapse; /* Optional: Ensures borders do not collapse */
    }
    .scrollable-card th, .scrollable-card td {
        padding: 8px; /* Optional: Adds padding inside table cells */
        border: 1px solid #ddd; 
    }
    #heading {
        background-color: #17252A !important;
    }
    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .bg-light {
        background-color: #3AAFA9 !important;
    }
    .btn-secondary {
        background-color: #000000;
        border-color: #6c757d;
    }
    .card {
        background-color: #3AAFA9;
    }
    .card-header {
        background-color: #17252A !important;
        color: #FEFFFF !important;
    }
    .card-title {
        color: #FEFFFF !important;
    }
    .scrollable-card {
        max-height: 550px; 
        overflow-y: auto; 
    }
</style>

<script>
    function disable(x) {
        x.disabled = true;
    }
    function validateForm() {
        var stateSelect = document.getElementById("state-select");
        var cropSelect = document.getElementById("crop-select");
        var distSelect = document.getElementById("district-select");
        if (stateSelect.value === "Open select menu") {
            alert("Please select a state.");
            return false;
        }
        if (distSelect && distSelect.value === "Open select menu") {
            alert("Please select a district.");
            return false;
        }
        if (cropSelect.value === "Open select menu") {
            alert("Please select a crop.");
            return false;
        }
        return true;
    }
</script>

{{ redirect_to_login_immediately }}
{% endblock %}
